Legacy code/HHSPortal/r2_src/com/nyc/hhs/config/business-rules.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://localhost:7001/R2/portal/hhsweb.portal/rules" elementFormDefault="qualified">
	<xs:element name="rules">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="rule" maxOccurs="unbounded" minOccurs="0">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="expression">
								<xs:complexType mixed="true">
									<xs:sequence>
										<xs:element name="expression" maxOccurs="unbounded" minOccurs="0">
											<xs:complexType mixed="true">
												<xs:sequence>
													<xs:element name="expression" maxOccurs="unbounded" minOccurs="0">
														<xs:complexType mixed="true">
															<xs:sequence>
																<xs:element name="expression" maxOccurs="unbounded" minOccurs="0">
																	<xs:complexType>
																		<xs:simpleContent>
																			<xs:extension base="xs:string">
																				<xs:attribute type="xs:string" name="method" use="optional" />
																				<xs:attribute type="xs:string" name="channel_variable" use="optional" />
																				<xs:attribute type="xs:string" name="channel_variable2" use="optional" />
																				<xs:attribute type="xs:string" name="type" use="optional" />
																				<xs:attribute type="xs:string" name="value" use="optional" />
																			</xs:extension>
																		</xs:simpleContent>
																	</xs:complexType>
																</xs:element>
															</xs:sequence>
															<xs:attribute type="xs:string" name="method" use="optional" />
															<xs:attribute type="xs:string" name="channel_variable" use="optional" />
															<xs:attribute type="xs:string" name="channel_variable2" use="optional" />
															<xs:attribute type="xs:string" name="type" use="optional" />
															<xs:attribute type="xs:string" name="value" use="optional" />
															<xs:attribute type="xs:string" name="operator" use="optional" />
														</xs:complexType>
													</xs:element>
												</xs:sequence>
												<xs:attribute type="xs:string" name="method" use="optional" />
												<xs:attribute type="xs:string" name="channel_variable" use="optional" />
												<xs:attribute type="xs:string" name="channel_variable2" use="optional" />
												<xs:attribute type="xs:string" name="value" use="optional" />
												<xs:attribute type="xs:string" name="type" use="optional" />
												<xs:attribute type="xs:string" name="operator" use="optional" />
											</xs:complexType>
										</xs:element>
									</xs:sequence>
									<xs:attribute type="xs:string" name="method" use="optional" />
									<xs:attribute type="xs:string" name="channel_variable" use="optional" />
									<xs:attribute type="xs:string" name="channel_variable2" use="optional" />
									<xs:attribute type="xs:string" name="value" use="optional" />
									<xs:attribute type="xs:string" name="type" use="optional" />
									<xs:attribute type="xs:string" name="operator" use="optional" />
								</xs:complexType>
							</xs:element>
						</xs:sequence>
						<xs:attribute type="xs:string" name="id" use="optional" />
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
		<xs:unique name="UniqueAddKey">
			<xs:selector xpath="rule" />
			<xs:field xpath="@id" />
		</xs:unique>

	</xs:element>

</xs:schema>