Legacy code/HHSPortal/r2_src/com/nyc/hhs/config/ruleset.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://localhost:7001/R2/portal/hhsweb.portal/ruleset" elementFormDefault="qualified">

	<xs:element name="rulesets">
		<xs:complexType>
			<xs:sequence maxOccurs="unbounded" minOccurs="0">
				<xs:element type="ruleSetType" name="ruleset" />
			</xs:sequence>
		</xs:complexType>
		<xs:unique name="unique-id">
			<xs:selector xpath="ruleset" />
			<xs:field xpath="@id" />
		</xs:unique>
	</xs:element>


	<xs:complexType name="ruleSetType">
		<xs:sequence maxOccurs="1" minOccurs="1">
			<xs:element type="resultBlockType" name="if" />
			<xs:element type="resultBlockType" name="else" />
		</xs:sequence>

		<xs:attribute name="id" use="required">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:pattern value="[a-zA-Z0-9]+" />
			</xs:restriction>
		</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="rules" use="required">
			<xs:simpleType>
				<xs:restriction base="xs:string">					
							<xs:pattern value="[a-zA-Z0-9]+([ ]*[,]{1}[ ]*[a-zA-Z0-9]+[ ]*)*" />
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>


	<xs:complexType name="resultBlockType">
		<xs:simpleContent>
			<xs:extension base="xs:string">
				<xs:attribute name="return" use="optional">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:enumeration value="ArrayList" />
						</xs:restriction>
					</xs:simpleType>
				</xs:attribute>
				<xs:attribute name="type" use="optional" default="String">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:enumeration value="String" />
							<xs:enumeration value="Integer" />
							<xs:enumeration value="Float" />
						</xs:restriction>
					</xs:simpleType>
				</xs:attribute>
				<xs:attribute type="xs:string" name="value" use="optional" />
				<xs:attribute name="separator" use="optional" default=",">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:enumeration value="," />
							<xs:enumeration value=";" />
							<xs:enumeration value="-" />
							<xs:enumeration value="_" />
							<xs:enumeration value=" " />
						</xs:restriction>
					</xs:simpleType>
				</xs:attribute>
				<xs:attribute name="altRuleSet" use="optional">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:pattern value="[a-zA-Z0-9]+" />
						</xs:restriction>
					</xs:simpleType>
				</xs:attribute>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
</xs:schema>